@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #d5d5d5 0, #d5d5d5 7.02981%, transparent 7.02981%, transparent 8.45184%, #eee 8.45184%, #eee 15.48164%, transparent 15.48164%, transparent 16.90367%, #d5d5d5 16.90367%, #d5d5d5 23.93348%, transparent 23.93348%, transparent 25.35551%, #eee 25.35551%, #eee 32.38531%, transparent 32.38531%, transparent 33.80734%, #d5d5d5 33.80734%, #d5d5d5 40.83715%, transparent 40.83715%, transparent 42.25918%, #eee 42.25918%, #eee 49.28899%, transparent 49.28899%, transparent 50.71101%, #d5d5d5 50.71101%, #d5d5d5 57.74082%, transparent 57.74082%, transparent 59.16285%, #eee 59.16285%, #eee 66.19266%, transparent 66.19266%, transparent 67.61469%, #d5d5d5 67.61469%, #d5d5d5 74.64449%, transparent 74.64449%, transparent 76.06652%, #eee 76.06652%, #eee 83.09633%, transparent 83.09633%, transparent 84.51836%, #d5d5d5 84.51836%, #d5d5d5 91.54816%, transparent 91.54816%, transparent 92.97019%, #eee 92.97019%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #d5d5d5 0, #d5d5d5 7.02981%, transparent 7.02981%, transparent 8.45184%, #eee 8.45184%, #eee 15.48164%, transparent 15.48164%, transparent 16.90367%, #d5d5d5 16.90367%, #d5d5d5 23.93348%, transparent 23.93348%, transparent 25.35551%, #eee 25.35551%, #eee 32.38531%, transparent 32.38531%, transparent 33.80734%, #d5d5d5 33.80734%, #d5d5d5 40.83715%, transparent 40.83715%, transparent 42.25918%, #eee 42.25918%, #eee 49.28899%, transparent 49.28899%, transparent 50.71101%, #d5d5d5 50.71101%, #d5d5d5 57.74082%, transparent 57.74082%, transparent 59.16285%, #eee 59.16285%, #eee 66.19266%, transparent 66.19266%, transparent 67.61469%, #d5d5d5 67.61469%, #d5d5d5 74.64449%, transparent 74.64449%, transparent 76.06652%, #eee 76.06652%, #eee 83.09633%, transparent 83.09633%, transparent 84.51836%, #d5d5d5 84.51836%, #d5d5d5 91.54816%, transparent 91.54816%, transparent 92.97019%, #eee 92.97019%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #d5d5d5 0, #d5d5d5 7.02981%, transparent 7.02981%, transparent 8.45184%, #eee 8.45184%, #eee 15.48164%, transparent 15.48164%, transparent 16.90367%, #d5d5d5 16.90367%, #d5d5d5 23.93348%, transparent 23.93348%, transparent 25.35551%, #eee 25.35551%, #eee 32.38531%, transparent 32.38531%, transparent 33.80734%, #d5d5d5 33.80734%, #d5d5d5 40.83715%, transparent 40.83715%, transparent 42.25918%, #eee 42.25918%, #eee 49.28899%, transparent 49.28899%, transparent 50.71101%, #d5d5d5 50.71101%, #d5d5d5 57.74082%, transparent 57.74082%, transparent 59.16285%, #eee 59.16285%, #eee 66.19266%, transparent 66.19266%, transparent 67.61469%, #d5d5d5 67.61469%, #d5d5d5 74.64449%, transparent 74.64449%, transparent 76.06652%, #eee 76.06652%, #eee 83.09633%, transparent 83.09633%, transparent 84.51836%, #d5d5d5 84.51836%, #d5d5d5 91.54816%, transparent 91.54816%, transparent 92.97019%, #eee 92.97019%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #d5d5d5 0, #d5d5d5 7.02981%, transparent 7.02981%, transparent 8.45184%, #eee 8.45184%, #eee 15.48164%, transparent 15.48164%, transparent 16.90367%, #d5d5d5 16.90367%, #d5d5d5 23.93348%, transparent 23.93348%, transparent 25.35551%, #eee 25.35551%, #eee 32.38531%, transparent 32.38531%, transparent 33.80734%, #d5d5d5 33.80734%, #d5d5d5 40.83715%, transparent 40.83715%, transparent 42.25918%, #eee 42.25918%, #eee 49.28899%, transparent 49.28899%, transparent 50.71101%, #d5d5d5 50.71101%, #d5d5d5 57.74082%, transparent 57.74082%, transparent 59.16285%, #eee 59.16285%, #eee 66.19266%, transparent 66.19266%, transparent 67.61469%, #d5d5d5 67.61469%, #d5d5d5 74.64449%, transparent 74.64449%, transparent 76.06652%, #eee 76.06652%, #eee 83.09633%, transparent 83.09633%, transparent 84.51836%, #d5d5d5 84.51836%, #d5d5d5 91.54816%, transparent 91.54816%, transparent 92.97019%, #eee 92.97019%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #d5d5d5 0, #d5d5d5 7.02981%, transparent 7.02981%, transparent 8.45184%, #eee 8.45184%, #eee 15.48164%, transparent 15.48164%, transparent 16.90367%, #d5d5d5 16.90367%, #d5d5d5 23.93348%, transparent 23.93348%, transparent 25.35551%, #eee 25.35551%, #eee 32.38531%, transparent 32.38531%, transparent 33.80734%, #d5d5d5 33.80734%, #d5d5d5 40.83715%, transparent 40.83715%, transparent 42.25918%, #eee 42.25918%, #eee 49.28899%, transparent 49.28899%, transparent 50.71101%, #d5d5d5 50.71101%, #d5d5d5 57.74082%, transparent 57.74082%, transparent 59.16285%, #eee 59.16285%, #eee 66.19266%, transparent 66.19266%, transparent 67.61469%, #d5d5d5 67.61469%, #d5d5d5 74.64449%, transparent 74.64449%, transparent 76.06652%, #eee 76.06652%, #eee 83.09633%, transparent 83.09633%, transparent 84.51836%, #d5d5d5 84.51836%, #d5d5d5 91.54816%, transparent 91.54816%, transparent 92.97019%, #eee 92.97019%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1085px;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.post p, .post ul {
  margin: 0 auto; }

.post p {
  margin-bottom: 20px; }

.post img {
  margin: 60px auto;
  position: relative;
  max-width: 902px;
  width: 100%; }

html, body {
  min-height: 100%; }

body {
  font: 16px/1 'Space Mono', monospace, sans-serif;
  font-variant-ligatures: none;
  letter-spacing: -0.0125em;
  color: #777;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative; }

.wrapper {
  max-width: 1085px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }

.right {
  float: right;
  margin: 0;
  clear: both; }

.dark {
  background-color: #2F2F2F; }

#header {
  padding: 1em 0; }

img {
  max-width: 100%; }

#thumbnails {
  max-width: 1085px;
  margin-left: auto;
  margin-right: auto; }
  #thumbnails::after {
    clear: both;
    content: "";
    display: block; }
  #thumbnails aside {
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 15.48164%; }
    #thumbnails aside:last-child {
      margin-right: 0; }
  #thumbnails .thumbnails-list {
    margin-left: 16.90367%; }
    @media screen and (max-width: 540px) {
      #thumbnails .thumbnails-list {
        margin-left: 8.45184%;
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
        margin: 0 10px; }
        #thumbnails .thumbnails-list::after {
          clear: both;
          content: "";
          display: block; } }
    #thumbnails .thumbnails-list li {
      float: left;
      display: block;
      margin-right: 1.7113%;
      width: 49.14435%;
      background: blue;
      margin-bottom: 1.2em; }
      #thumbnails .thumbnails-list li:last-child {
        margin-right: 0; }
      #thumbnails .thumbnails-list li:nth-child(2n) {
        margin-right: 0; }
      #thumbnails .thumbnails-list li:nth-child(2n+1) {
        clear: left; }
      @media screen and (max-width: 540px) {
        #thumbnails .thumbnails-list li {
          float: left;
          display: block;
          margin-right: 4.39097%;
          width: 100%; }
          #thumbnails .thumbnails-list li:last-child {
            margin-right: 0; } }
      #thumbnails .thumbnails-list li a {
        width: 100%;
        padding-bottom: 56.25%;
        /* 16:9 */
        position: relative;
        display: block; }
        #thumbnails .thumbnails-list li a span {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: #999;
          display: block;
          font-size: 16px;
          font-weight: 700;
          margin: 20px;
          text-align: left; }
        #thumbnails .thumbnails-list li a img {
          display: block;
          background: #fff;
          width: 100%;
          height: auto; }

.praxis-taller {
  background-color: #FF4959; }

.veloexpress {
  background-color: #74A82E; }

.centro-leneria {
  background-color: #F5A623; }

.chol1 {
  background-color: #CD0218; }

.clickyeah {
  background-color: #FF4959; }

.designmobile {
  background-color: #FF4959; }

#intro {
  margin: 100px 0 120px; }
  #intro h1 {
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 40.83715%; }
    #intro h1:last-child {
      margin-right: 0; }
  #intro p {
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 57.74082%;
    text-align: right; }
    #intro p:last-child {
      margin-right: 0; }
  @media screen and (max-width: 540px) {
    #intro {
      margin: 20px 0; }
      #intro h1 {
        float: left;
        display: block;
        margin-right: 1.42203%;
        width: 100%; }
        #intro h1:last-child {
          margin-right: 0; }
      #intro p {
        float: left;
        display: block;
        margin-right: 1.42203%;
        width: 100%;
        text-align: left; }
        #intro p:last-child {
          margin-right: 0; } }

#footer {
  box-shadow: inset 0 1px 0 #eee;
  padding: 40px 0 0 0;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative; }
  #footer p {
    float: left; }

a {
  text-decoration: none;
  color: #5694f1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: circle;
  list-style-position: inside; }

.post-body, p {
  line-height: 1.5; }

h1 {
  display: inline-block;
  line-height: 100%;
  color: #eee;
  font-weight: bold;
  font-size: 45.23434px;
  margin: 0;
  padding-bottom: 20px; }

h2 {
  font-size: 45.23434px;
  line-height: 100%;
  font-weight: bold;
  color: #fff;
  margin-bottom: 6px; }

h3 {
  font-size: 22px;
  font-weight: bold;
  color: #eee;
  margin-bottom: 2px; }

h4 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 2px; }

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block; }

#header {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px; }

.post-header {
  margin-bottom: 60px; }
  .post-header .post-head {
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 83.09633%;
    margin-left: 8.45184%; }
    .post-header .post-head:last-child {
      margin-right: 0; }
    @media screen and (min-width: 769px) {
      .post-header .post-head {
        float: left;
        display: block;
        margin-right: 1.42203%;
        width: 23.93348%; }
        .post-header .post-head:last-child {
          margin-right: 0; } }
  .post-header .post-body {
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 83.09633%;
    margin-left: 8.45184%; }
    .post-header .post-body:last-child {
      margin-right: 0; }
    @media screen and (min-width: 769px) {
      .post-header .post-body {
        float: left;
        display: block;
        margin-right: 1.42203%;
        width: 49.28899%; }
        .post-header .post-body:last-child {
          margin-right: 0; } }

.post-contents img {
  float: left;
  display: block;
  margin-right: 1.42203%;
  width: 83.09633%;
  margin-left: 8.45184%; }
  .post-contents img:last-child {
    margin-right: 0; }

.post-collateral {
  max-width: 1085px;
  margin-left: auto;
  margin-right: auto; }
  .post-collateral::after {
    clear: both;
    content: "";
    display: block; }
  .post-collateral img {
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 66.19266%; }
    .post-collateral img:last-child {
      margin-right: 0; }
  .post-collateral h3, .post-collateral p {
    margin-left: 8.45184%;
    display: inline-block;
    float: left;
    display: block;
    margin-right: 1.42203%;
    width: 49.28899%; }
    .post-collateral h3:last-child, .post-collateral p:last-child {
      margin-right: 0; }

.post-full {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .post-full::after {
    clear: both;
    content: "";
    display: block; }
  .post-full img {
    flex: auto;
    align-content: center;
    margin: 0 auto; }
  @media screen and (min-width: 769px) {
    .post-full .praxistaller {
      background-image: url(../images/Praxis-Bg-Collateral.jpg); } }

.post-meta {
  font-size: 11.31542;
  font-weight: normal;
  line-height: 1.8;
  margin-bottom: 40px;
  padding-top: 90.44135px;
  color: #25AF32; }
  .post-meta div {
    display: inline-block; }
    .post-meta div span {
      color: #aaa;
      font-weight: 5 00;
      display: block;
      margin-bottom: 2px; }
    .post-meta div.date {
      float: right;
      text-align: right;
      position: relative;
      top: 1px;
      font: 300 20px/1.8 'Space Mono', monospace, sans-serif;
      color: #aaa; }

.post-footer {
  margin: 2em auto; }

#sharing {
  float: right;
  margin: -2px; }
  #sharing a {
    font-size: 23px;
    margin-left: 2px;
    margin-top: 4px;
    color: #d4d4d4;
    display: inline-block;
    vertical-align: middle; }
  #sharing ยง:hover {
    color: #444; }

#post-nav {
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 500; }
  #post-nav span {
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    position: relative; }
    #post-nav span.prev {
      float: left; }
    #post-nav span.next {
      float: right; }
    #post-nav span .arrow {
      position: relative;
      padding: 1px; }
    #post-nav span.prev:hover .arrow {
      left: -4px; }
    #post-nav span.next:hover .arrow {
      right: -4px; }
    #post-nav span.prev:hover {
      left: -3px; }
    #post-nav span.next:hover {
      right: -3px; }

@media screen and (max-width: 540px) {
  body {
    font-size: 13px;
    line-height: 110%; }
  #wrapper {
    padding: 20px 40px; }
  #header {
    margin-bottom: 40px; }
  h1 {
    font-size: 17px; }
  #footer {
    margin-top: 40px;
    padding-bottom: 20px; } }

@media screen and (max-width: 440px) {
  a#docs {
    display: none; }
  #thumbnails a:first-child {
    margin-top: 0; }
  #header {
    text-align: center;
    margin-bottom: 0; }
  #wrapper {
    padding: 20px 20px 40px 20px; }
  .post {
    margin-bottom: 40px; }
  #footer {
    text-align: center;
    padding-bottom: 15px; } }
