@import "../lib/bourbon/_bourbon"; 
@import "../lib/neat/_neat"; 


$main-colour: #fff;

/* Link to Documentation */
#docs {
	position: fixed; 
	top: 8px; 
	right: 6px;
	background: #5badf0; 
	color: #fff;
	padding: 8px 12px;
	font-size: 13px; 
	font-weight: bold; 
	line-height: 1.35;
	border-radius: 3px; 
	z-index: 100;
}
 
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Spacing */
.post p,.post ul {
	margin: 0 auto;
}

.post p {
	margin-bottom: 20px;
}

.post img {
	margin: 60px auto;
	position: relative;
	max-width: 902px;
	width: 100%;
}

/* Base */
html,body {
	min-height: 100%;
}

body { 
	font: 16px/1 'Space Mono', monospace, sans-serif;
	font-variant-ligatures: none;
	letter-spacing: -0.0125em;
	color: #777;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	position: relative;
}

.wrapper {
	@include outer-container;
} 

.right{
	float: right;
	margin: 0;
	clear: both;
}

.dark {
	background-color: #242426;
}

#header {
	padding: 1em 0;
}

img {
	max-width: 100%;
}


#thumbnails {
	@include outer-container;
	$mobile: new-breakpoint(max-width 540px 4);
	
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	
	a {
		@include span-columns(4);
		@include omega(3n);
		
		@include media($mobile) {
		  @include span-columns(4);
		}	
	    
		margin-bottom: 1.2em;
		
		img {
			display: block;
			background: #fff;
			width: 100%;
			height: auto;
		}
		span {
			color: #999;
			display: inline-block;
			display: none;
			font-size: 15px;
			font-weight: 400;
			margin: 20px 0;
		}
		
	}
	
}

/*
#thumbnails a {
	width: 49%;
	float: left;
	position: relative;
}

#thumbnails a {
		margin-right: 2%;
		margin-top: 2%;
}

#thumbnails a:nth-child(1), #thumbnails a:nth-child(2) {
		margin-top: 0;
}

#thumbnails a:nth-child(2n) {
	margin-right: 0;
}

#thumbnails a,#thumbnails a span {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#thumbnails a img {
	display: block;
	background: #fff;
	width: 100%;
	height: auto;
}

#thumbnails a span {
	color: #999;
	display: inline-block;
	display: none;
	font-size: 15px;
	font-weight: 400;
	margin: 20px 0;
}

#thumbnails a:hover {
	opacity: .85;
}

#thumbnails a:hover span {
	opacity: 1;
	visibility: visible;
}
 */

#footer { 
	box-shadow: inset 0 1px 0 #eee;
	padding: 40px 0 0 0;
	margin-top: 100px; 
	position: relative;
}

#footer p {
	float: left;
}

/* Type */
/* Accent color */
a	{
	text-decoration: none; 
	color: #5694f1;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

ul 	{ margin: 0; padding: 0; }
li	{ list-style-type: circle; list-style-position: inside; }

/* Line Height */
.post-body, p { 
	line-height:1.5;
}

h1 {
	display: inline-block;
	line-height: 100%;
	color: #eee;
	font-weight: bold;
	font-size: augmented-fourth(16px, 3);
	margin: 0;
	padding-bottom: 20px;
}

h2 {
	font-size: augmented-fourth(16px, 3);
	line-height: 100%;
	font-weight: bold;
	color: #fff;
	margin-bottom: 6px;
}

h4 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 2px;
}

p.small { 
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

/* Post Page */
.post #header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
}

.post-header {
	margin-bottom: 60px;
	
	.post-head {
		@include span-columns(10);
		@include shift(1);
		
		@include media(769px) {
		  @include span-columns(3);
		}	
		
	}
	.post-body {
		@include span-columns(10);
		@include shift(1);
		
		@include media(769px) {
		  @include span-columns(6);
		}	
	}
}

	.post-contents{
		img {
			@include span-columns(10);
			@include shift(1);
		}
	}
	.post-collateral{
		@include outer-container(100%);
		
		img {
			@include span-columns(7);
			@include shift(5);
		}
	}

	.post-full{
		@include outer-container(100%);
		
		img {
			flex: auto;
			align-content: center;
			margin: 0 auto;
		}
		
		&.praxis {
			background-image: url(../images/Praxis-Bg-Collateral.jpg);
		}
	}

.post-meta {
	font-size: augmented-fourth(16, -1);
	font-weight: normal;
	line-height: 1.8;
	margin-bottom: 40px;
	padding-top: augmented-fourth(16px, 5);
	color: #25AF32;

	div {
	display: inline-block;

		span {
			color: #aaa;
			font-weight:5 00;
			display: block;
			margin-bottom: 2px;
		}

	&.date {
		float: right;
		text-align: right;
		position: relative;
		top: 1px;
		font: 300 20px/1.8 'Space Mono', monospace, sans-serif;
		color: #aaa;
		}
	}
}
			
#sharing {
	float: right;
	margin: -2px;
	
	a {
		font-size: 23px;
		margin-left: 2px;
		margin-top: 4px;
		color: #d4d4d4;
		display: inline-block;
		vertical-align: middle;
	}

	ยง:hover {
	color: #444;
	}
}

#post-nav {
	border-top: 1px solid #eee;
	text-align: center;
	padding-top: 20px;
	font-size: 13px;
	font-weight: 500;

	span {
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-ms-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
		position: relative;
	
		&.prev {
			float: left;
		}

		&.next {
			float: right;
		}

		.arrow {
			position: relative;
			padding: 1px;
		}

		&.prev:hover .arrow {
			left: -4px;
		}

		&.next:hover .arrow {
			right: -4px;
		}

		&.prev:hover {
			left: -3px;
		}

		&.next:hover {
			right: -3px;
		}
	}
}


@media screen and (max-width: 540px) {
	body {font-size: 13px; line-height: 110%;}
	#wrapper { padding: 20px 40px; }
	#header { margin-bottom: 40px; }
	h1 { font-size: 17px; }
	#footer { margin-top: 40px; padding-bottom: 20px; }
}

@media screen and (max-width: 440px) {

	a#docs { display: none; }
	#thumbnails a:first-child { margin-top: 0; }
	#header { text-align: center; margin-bottom: 0; }
	#wrapper { padding: 20px 20px 40px 20px; }
	.post { margin-bottom: 40px; }
	#footer { text-align: center; padding-bottom: 15px; }
}