@import "../lib/bourbon/_bourbon"; 
@import "../lib/neat/_neat"; 
$mobile: new-breakpoint(max-width 540px 4);

// Set contrast to colours based on background

$main-colour: 		#FFFFFF;
$main-offcolour: 	#F1F1F1;
$main-contrast: 	#2F2F2F;

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333; // Lighter backgorund, return dark color 
  } @else {
    @return #C9C9C9; // Darker background, return light color  
  }
}

.dark {	
	background-color: $main-contrast; 
	color: set-text-color($main-contrast);
}
.light{ 
	background-color: $main-colour;
	color: set-text-color($main-colour);
}
.cream{ 
	background-color: $main-offcolour;
	color: set-text-color($main-offcolour);
}


$main-link: 	#5694f1;
$main-title: 	#333;
$main-title-h2: #333;
$main-title-h3: #666;
$main-title-h4: #333;

.praxis-taller 	{ background-color: #FF4959;}
.veloexpress   	{ background-color: #74A82E;}
.centro-leneria	{ background-color: #F5A623;}
.chol1 			{ background-color: #CD0218;}
.clickyeah		{ background-color: #FF4959;}
.designmobile  	{ background-color: #FF4959;}






/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,body {
	min-height: 100%;
}

body { 
	font: 16px/1 'Space Mono', monospace, sans-serif;
	font-variant-ligatures: none;
	letter-spacing: -0.0125em;
	color: #777;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	position: relative;
}

.wrapper {
	@include outer-container;
} 

.right{
	float: right;
	margin: 0;
	clear: both;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#header {
	padding: 1em 0;
	
	@include media($mobile){
		text-align: center;  
	}

	h4{float: left;
	
		@include media($mobile){
			float: none;
			font-size: augmented-fourth(16px, 0);
		}
	}

	nav {float: right;
		
		span {
			padding-left: 1em;
			font-size: augmented-fourth(16px, 0)-2;
			text-transform: uppercase;
			@include media($mobile){
				padding-left: 0; 
				}
		}
		
		@include media($mobile){
			display: inline-block;
			margin: 1em auto;
			float: none;
			text-align: center;
		}
	}
}

img {
	max-width: 100%;
}

#thumbnails {
	@include outer-container;

	aside {
		@include span-columns(2);
		line-height: 235%;
		position: absolute;
		font-size: augmented-fourth(16px, -1)+1;

		@include media($mobile){
			display: inline-block;
			text-align: center;
			position: relative;
			width: 100%;
		}
	}	
	
	.thumbnails-list {
		@include shift(2);	
		@include media($mobile) {
			@include shift(1);
			@include outer-container();
			margin: 0 10px
		}	
		
		li {
		@include span-columns(5 of 10);
		@include omega(2n);
		
		background: blue;

		@include media($mobile) {
		  @include span-columns(4);
		}	
			
			&:nth-child(5){
				@include media(min-width 540px) {
					
					@include span-columns(13);
					@include shift(-2);

					a{	padding-bottom: 31.25%; }
					
				}
			}
			&:nth-child(6){
				@include media(min-width 540px) {
    				margin-right: 1.7113%;	}
			}
			&:nth-child(7){
				@include media(min-width 540px) {
					clear: none; }
			}
						
		a {
			width: 100%;
			padding-bottom: 56.25%; /* 16:9 */
			position: relative;
			display: block;
			overflow: hidden;
			
			span {
					position: absolute;
					top: 0; bottom: 0; left: 0; right: 0;

					color: #999;
					display: block;
					font-size: 16px;
					font-weight: 700;
					margin: 20px;
					text-align: left;
					z-index: 2;
			}
			
			img {
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;

				width: 100%;
				height: auto;
				z-index: 1;
			}
			
			
		}
			
		margin-bottom: 1.2em;

	  }
	}
}

#intro {
	margin: 100px 0 120px;
	h1{ @include span-columns(5)}
	p{ @include span-columns(7); text-align: right;}
	
	@include media(max-width 540px) {
		margin: 20px 10px 40px;
		h1{ @include span-columns(12); text-align: center; }
		p{ @include span-columns(12); text-align: center;}
	}
	@include media(max-width 1100px){
		margin-left: 10px ;
		margin-right: 10px;
	}

	
}

#footer { 
	box-shadow: inset 0 1px 0 #eee;
	padding: 40px 0 0 0;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;

	p {
		float: left;
	}
}

a	{
	text-decoration: none; 
	color: $main-link;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
ul 	{ margin: 0; padding: 0; } li	{ list-style-type: circle; list-style-position: inside; }

.post-body, p { 
	line-height:1.5;
}

h1 {
	display: inline-block;
	line-height: 100%;
	font-weight: bold;
	font-size: augmented-fourth(16px, 3);
	margin: 0;
	padding-bottom: 20px;
}

h2 {
	font-size: augmented-fourth(16px, 2); 
	line-height: 100%;
	font-weight: normal; 
	margin-bottom: 6px;
	letter-spacing: -.05em;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 2px;
}

h4 {
	font-size: augmented-fourth(16px, 0)-2;
	font-weight: bold;
	margin-bottom: 2px;
}

p.small { 
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

#header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
}

.post { 

	@include clearfix();
	
	
	p, ul {
	margin: 0 auto;
	}

	 p {
		margin-bottom: 20px;
	}

	img {
		margin: 25px auto;
		position: relative; 
		/*max-width: 902px;
		width: 100%;*/
		
		@include media(769px) {
			margin: 60px auto;
		}	
		
	}
	
	section {
		@include clearfix();
	}
}

.post-header {
	
	@include media(769px) {
		margin-bottom: 60px;
	}	

	.post-head {
		@include span-columns(10);
		@include shift(1);
		
		@include media(769px) {
		  @include span-columns(3);
		}	
		
	}
	.post-body {
		@include span-columns(10);
		@include shift(1);
		
		@include media(769px) {
		  @include span-columns(6);
		}	
	}
}

.post-contents{
	@include span-columns(12); 

	@include media(769px) {
	  @include span-columns(10);
	  @include shift(1);
	}	

	position: relative;

	img {
		@include span-columns(10);
		@include shift(1); 

		&.overlay {
			position: absolute; 
			max-width: 261px;
			width: 27%;  
			display: inline;
			left: 50%;
			margin-top: 8%;
		}


	}

}

.post-collateral{
	@include span-columns(11);  
	@include shift(1);   


	@include media(769px) {
	  @include span-columns(8);
	  @include shift(2);  
	}

	img {

		&.big {
			@include span-columns(6);   
			@include shift(1);    

		}
		&.small {
			@include span-columns(3);
			@include shift(1);  
		}
		&.right { 
			float: right;
			margin-top: 0;
			margin-right: -10px;  
		}
	}


	& .right-float{
		position: absolute;
		right: 0;
		width: 50%; 
		max-width: 904px;
		margin-right: -10px;
		margin-top: 0px;
	}

}

.post-full{
	@include span-columns(10);
	@include shift(1); 

	@include media(769px) {
		@include clearfix();
		@include span-columns(12); 
		@include shift(0);  
		position: relative; 
		display: flex;
		align-items: center;
		justify-content: bottom; 
	}


	img {
	}

	& .overlay { 
		align-self: flex-end; 
		transform: translateY(60px);     
		display: inline-block;

		}

	& .bg-image {
		display: none;
		z-index: -2;
		position: absolute; 
		left:0;
		width: 100%;
		@include media(769px) {
			display: block;
		}
	}


}

.post-meta {
	font-size: augmented-fourth(16, 1)-4;
	font-weight: normal;
	line-height: 1.8;
	margin-bottom: 40px;
	padding-top: 1em;
	color: #25AF32;
	
		@include media(769px) {
			padding-top: augmented-fourth(16px, 5); 
		}

	div {
	display: inline-block;

		span {
			color: #aaa;
			font-weight:5 00;
			display: block;
			margin-bottom: 2px;
		}

	&.date {
		float: right;
		text-align: right;
		position: relative;
		top: 1px;
		font: 300 20px/1.8 'Space Mono', monospace, sans-serif;
		color: #aaa;
		}
	}
}
	
.post-footer {
	@include row();
	margin: 3em auto; 
}

#sharing {
	float: right;
	margin: -2px;
	
	a {
		font-size: 23px;
		margin-left: 2px;
		margin-top: 4px;
		color: #d4d4d4;
		display: inline-block;
		vertical-align: middle;
	}

	§:hover {
	color: #444;
	}
}

#post-nav {
	text-align: center;
	padding-top: 20px;
	font-size: 13px;
	font-weight: 500;

	span {
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-ms-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
		position: relative;
	
		&.prev {
			float: right;
		}

		&.next {
			float: left;
		}

		.arrow {
			position: relative;
			padding: 1px;
		}

		&.prev:hover .arrow {
			left: 4px;
		}

		&.next:hover .arrow {
			right: 4px;
		}

		&.prev:hover {
			left: 3px;
		}

		&.next:hover {
			right: 3px;
		}
	}
}
 
@media screen and (max-width: 540px) {
	body {font-size: augmented-fourth(16px, -1)+2; line-height: 110%;}
	#wrapper { padding: 20px 40px; }
	h1 { font-size: augmented-fourth(16px, 2); }
	#footer { margin: 40px 10px 0; padding-bottom: 20px; }
}

@media screen and (max-width: 440px) {
	#thumbnails a:first-child { margin-top: 0; }
	#wrapper { padding: 20px 20px 40px 20px; }
	.post { margin-bottom: 40px; }
	#footer { text-align: center; padding-bottom: 15px; }
}