{% extends "base.html" %}
{% block content %}


	<section class="wrapper">
		
		<header id="header" class="wrapper">
			<a href="/"><h4> &larr; Portfolio Pablo Anttila</h4></a>
		</header>
		
		<article class="post">
			
			<header class="post-header wrapper">
				
				<div class="post-head">
					<h1>Pablo Anttila</h1>
					
						<div class="post-meta">
							<a href="https://www.linkedin.com/in/pablo-anttila-bb84a24">&rarr; linkedin.com</a><br>
						</div>
					
				</div>
				<div class="post-body">
					<h2>Sökes:</h2>
					<p>Ett utvecklande arbetsliv med fokus på kommunikation där min kreativitet och passion för bild och form kan mötas. Brinner för design, utveckling och programmering med mål att skapa morgondagens appar, digitala tjänster och e-handel med gränssnitt som användare förstår och älskar.</p>
					
					<h2>Se busca:</h2>
					<p>Aspiro a crear y explorar las posibilidades en la experiencia digital del usuario (el humano), liderar equipos creativos y ejecutar proyectos digitales de interacción, de comunicación visual, relacionadas al branding en el mundo de hoy.</p>
					<p>Espero adquirir nuevos conocimientos en el camino, tanto del lado oscuro (código) como lo blando (relaciones interpersonales). Algún día los dos serán sinónimos!</p>
				</div>
			</header>
		
		<footer id="footer" class="wrapper">
			<p class="small">Designed in Sketch, produced and prototyped in Cactus, Brackets and Chrome.</p>
		</footer>


		
</section>
{% endblock %}
			
