{% extends "base.html" %}
{% block content %}

	<section class="wrapper">
		
		<header id="header" class="wrapper">
			<h4>Portfolio</h4>
			
			<nav>
				<span class="{% if_current_page '/about.html' 'active' '' %}"><a href="/about.html">About</a></span>
				<span>Nytt</span>
			</nav>
		</header>
		
		<section id="intro" class="wrapper">
			<h1>Pablo Anttila</h1>
			<p>Kodare, webbproducent och visuell kommunikatör 
med inrikting på varumärkesstrategi och digital design</p>
		</section>

		<section id="thumbnails" class="clearfix">
			<ul class="thumbnails-list">
			{% for post in posts %}
				<li>
					<a href='/{{ post.path }}'  class="{{ post.title|slugify }}">
						<span>{{ post.title }}</span>
						
						{% if post.thumbnail %}
							<img class="" width="" height="" src="{{ post.thumbnail }}"/>
						{% endif %}
						
					</a>
				</li>
			{% endfor %}
			</ul>
			<aside>

				DESIGN<br>
				UTVECKLING <br>
				FRONTEND <br>
				E-HANDEL<br>
				BRANDING<br>
				STRATEGI<br>
				STARTUP<br>
				UPPKOPPLAD<br>
				FRAMÅT
			</aside>
		</section>

		{% block footer %}
		<footer id="footer" class="wrapper">
			<p class="small">Designed in Sketch, produced and prototyped in Cactus, Brackets and Chrome.</p>
		</footer>
		{% endblock footer %}
	</section>

	
{% endblock content %}
