{% extends "index.html" %}
{% block template %}{{ template }}{% endblock template %}
{% block title %}{{ title }} | Portfolio Pablo Anttila{% endblock title %}
{% block content %}

	<section class="post {{ title|slugify }} clearfix">
		
		<header id="header" class="wrapper">
			<a href="/"><h4> &larr; Portfolio Pablo Anttila</h4></a>
			{% block nav %}
				{{ block.super }}
			{% endblock nav %}
		</header>

		<article class="post">
			
			<header class="post-header wrapper">
				
				<div class="post-head">
					<h1>{{ title }}</h1>
					
					{% if tags %}
						<div class="post-meta">
						{{ tags }}
						</div>
					{% endif %}
					
				</div>
				<div class="post-body">
				{% block body %}
					This is where the post description is.
				{% endblock body %}
				</div>
				
			</header>
			
			<section class="post-contents wrapper"> 
				{% block contents %}
					This is where the graphic content is.
				{% endblock contents %}
			</section>
			
			<section class="post-collateral">
				{% block collateral %}
					This is where the rest of the content is.
				{% endblock collateral %}
			</section>
						
			<section class="post-full {{ title|cut:" "|lower }} ">
				{% block full %}
					This is where the final content is.
				{% endblock full %}
			</section>
				
			
		</article>


		<footer class="post-footer wrapper">
			<nav id="post-nav">
				<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next">
					{% if nextPost %}
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }} <span class="arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>
		</footer>
	
	</section>

{% endblock content %}