title: Praxis Taller
thumbnail:	

tags: Design, koncept och webbproduktion. Analytics, Facebook Campaigns
date: 21-04-2016
template: dark 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Följ med på denna uppgradering. En av Santiagos erkända cykelhandlare med en mycket kräsen och nischad publik fick hjälp med att upprätta sin första helt webbaserade ordersystem för en punktinsats.

Importeringen från den Londonbaserade Brick Lane Bikes blev en månadslång kampanj med sparsam och riktad kommunikation i utvalda kanaler i syfte att säkra en specifik mängd förhandsbeställningar.

I samband med kampanjen och den kommunikativa strategin utvecklade jag en sajt som landingssida med snabb checkout och flera konverteringsmål.

{% endfilter %}
{% endblock body %}

{% block contents %}
	<img class="" src="{% static '/images/Praxis-Intro.png' %}"/>
	<img class="" src="{% static '/images/Praxis-Chrome.png' %}"/>
{% endblock contents %}

{% block collateral %}
{% filter markdown %}
<img class="" src="{% static '/images/Praxis-Devices.png' %}"/>

###Responsivt
Sajten besöks i flera steg vid flera olika tillfällen, varför en viktigt strategi är att den fungerar och spelar bra på både mobil och desktop.
###Simpelt och snabbt
Själva katalogen är begränsad och skiktad i fler olika prislägen och erbjuder ett högklassigt urval av komponenter och tillbehör för suktande besökare. Sajten har en snabb översikt, väldigt lite presentationstexter och en överväldigande fokus på starkt bildmaterial.
{% endfilter  %}
{% endblock collateral %}

{% block full %}
	<img class="bg-image" src="{% static '/images/Praxis-Bg-Collateral.jpg' %}"/>
	<img class="overlay" src="{% static '/images/Praxis-Flyers.png' %}"/>
{% endblock full %}