title: Centro Leneria
thumbnail: /static/images/Leneria-Intro.jpg
tags: Frontend, Wordpress, SASS
date: 1-4-2016
template: light

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Leñeria är ett sprudlande kreativt co-work sprunget ur ett direkt behov för entreprenörer och konstnärer att ha en bas och arbetsplats under sina uppstartsår. 
Med denna kampanj skapade jag en ny site med ett tydligt mål och budskap; att finna nya hyresgäster och informera om lediga utrymmen och arbetsplatser.
KILL THE BOSS!
{% endfilter %}
{% endblock body %}

{% block contents %}
<img class="" src="{% static '/images/Leneria-Intro-Full.jpg' %}"/>
<img class="overlay" src="{% static '/images/Leneria-Mobile-1.png' %}"/>
{% endblock contents %}

{% block collateral %}
<img class="big" src="{% static '/images/Leneria-Ui.jpg' %}"/>
<img class="small" src="{% static '/images/Leneria-Mobile-2.png' %}"/>
<img class="small" src="{% static '/images/Leneria-Mobile-3.png' %}"/>
<img class="small" src="{% static '/images/Leneria-Type.jpg' %}"/>

{% endblock collateral %}

{% block full %}
<img class="bg-image" src="{% static '/images/Leneria-full-bg.jpg' %}"/>
<img class="overlay" src="{% static '/images/Leneria-Responsive.png' %}"/>

{% endblock full %}
