title: Clickyeah
thumbnail: /static/images/clickyeah-bg-00.jpg
tags: AGILE DEVELOPMENT, BRAND CREATION, STARTUPS

date: 01-06-2015
template: light


{% extends "post.html" %}
{% block body %}
{% filter markdown %} 
Clickyeah är namnet på det koncept och idé om att smärtfritt lösa uppstartsfasen inom e-handel för nyetablerade företag och varumärken i Chile. 

Denna MVP lade grunden för mina konsulttjänster som jag erbjuder till nischen entreprenörer, egenföretagare och designers.

Med hjälp av modern frontend-teknik, flera optimerade open-source projekt paketerade med ett UX-betonat tänk, levereras en komplett lösning för ehandel, marketing och rapportering i express-format.
{% endfilter %}
{% endblock body %}


{% block contents %}
	<div class="full-width-bg justclimb"> 
	<p class="small centered">Ehandelssatsning för retailer inom nischad marknad</p>
	<img class="lockup" src="{% static '/images/Clickyeah-case-01.png' %}"/>
	<p class="centered"><a class="btn" href="http://www.justclimb.cl"><btn class="dark">Besök site &rarr;</btn></a>

	</div>

	<div class="full-width-bg justride"> 
		<p class="small centered">Systersite till JustClimb, vidareutvecklad, responsiv webb</p>
		<img class="lockup" src="{% static '/images/clickyeah-case-02.png' %}"/>
	<p class="centered"> <a class="btn" href="http://www.justride.cl"><btn class="dark">Besök site &rarr;</btn></a> </p>

	</div>

	<div class="full-width-bg chol1"> 
	<p class="small centered">Smidig handel för hantverkaren och designern Chol1. Vidareutvecklad med bl a översatta texter, multivaluta, möbeltillval mm.</p>
	<img class="lockup" src="{% static '/images/clickyeah-case-03.png' %}"/>
	<p class="centered"><a class="btn" href="http://www.chol1.cl"><btn class="dark">Besök site &rarr;</btn></a> </p>

	</div>

	<div class="full-width-bg factoria"> 
		<p class="small centered">Prototyp och MVP till egenutvecklade Appen Clickyeah</p>
		<img class="lockup" src="{% static '/images/clickyeah-case-04.png' %}"/>
	<p class="centered"><a class="btn" href="http://www.factoriaterrarios.cl"><btn class="dark">Besök site &rarr;</btn></a> </p>

	</div>





{% endblock contents %}

{% block collateral %}

{% endblock collateral %}

{% block full %}
{% endblock full %}


