title: Mokoma - Tiss is Finland
thumbnail:
tags: Kreativt koncept, projektledning, produktion och form
date: 09-08-2010


{% extends "post.html" %}
{% block body %}
{% filter markdown %}
<img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/>

Designed in Sketch, produced and prototyped in Cactus, Brackets and Chrome.
This is the original template for all portfolio cases.
Displays images in a grid, with individual pages optionally describing the image in detail, or displaying more images. Images have a max-width of 400 pixels by default.

{% endfilter %}
{% endblock body %}